<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>http://ff.topitme.com/f/f9/b2/1118024055cfcb2f9fo.jpg</string>
		<key>name</key>
		<string>金融街</string>
		<key>time</key>
		<string>6小时前</string>
		<key>attention</key>
		<false/>
		<key>content</key>
		<string>习近平指出，近年来，中俄高层保持密切沟通，发挥顶层设计和重要</string>
		<key>imageArr</key>
		<array>
			<string>http://f10.topitme.com/o/201009/18/12848097713419.jpg</string>
			<string>http://f10.topitme.com/l/201011/16/12899098464298.jpg</string>
			<string>http://f10.topitme.com/l/201001/19/12638937446169.jpg</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://ff.topitme.com/f/f9/b2/1118024055cfcb2f9fo.jpg</string>
		<key>name</key>
		<string>物业</string>
		<key>time</key>
		<string>1天前</string>
		<key>attention</key>
		<false/>
		<key>content</key>
		<string>也为国际和地区形势健康发展注入了正能量。今年是《中俄睦邻友好合作条约》签署15周年和中俄战略协作伙伴关系建立20周年，战略协作伙伴关系确立了中俄关系的战略性质，条约确立了两国世代友好的理念。双方作出的这两个重大战略决策符合两国和两国人民的根本利益，符合时代发展潮流。</string>
		<key>imageArr</key>
		<array>
			<string>http://f10.topitme.com/l/200912/27/12619109427324.jpg</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://ff.topitme.com/f/f9/b2/1118024055cfcb2f9fo.jpg</string>
		<key>name</key>
		<string>吉特奥</string>
		<key>time</key>
		<string>1天前</string>
		<key>attention</key>
		<false/>
		<key>content</key>
		<string>习近平强调，中俄要加大相互政治支持。双方要在涉及彼此核心利益问题上相互支持，不断巩固和深化政治和战略互信。中俄都是世界主要经济体和新兴市场国家，双方要通过深化务实合作和利益交融，特别是推进两国发展战略对接和“一带一路”建设同欧亚经济联盟建设对接合作，推进更广泛的区域经济合作，共同应对世界经济发展中遇到的困难和挑战，保持我们两国经济持续良好发展势头。近年来中俄两国人文合作蓬勃开展，国</string>
		<key>imageArr</key>
		<array/>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://ff.topitme.com/f/f9/b2/1118024055cfcb2f9fo.jpg</string>
		<key>name</key>
		<string>奥利奥</string>
		<key>time</key>
		<string>1天前</string>
		<key>attention</key>
		<false/>
		<key>content</key>
		<string>习近平指出，中俄要维护共同周边安全，加强在重大国际和地区热点问题上的协调和配合。中俄作为联合国安理会常</string>
		<key>imageArr</key>
		<array>
			<string>http://f10.topitme.com/l/201011/22/12904285514655.jpg</string>
			<string>http://f10.topitme.com/l/201003/03/12675994508032.jpg</string>
			<string>http://f10.topitme.com/l/201006/15/12765654554701.jpg</string>
			<string>http://f10.topitme.com/o/201010/22/12877450979841.jpg</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://ff.topitme.com/f/f9/b2/1118024055cfcb2f9fo.jpg</string>
		<key>name</key>
		<string>卡尔</string>
		<key>time</key>
		<string>1天前</string>
		<key>attention</key>
		<false/>
		<key>content</key>
		<string>习近平指出，中俄要维护共同周边安全，加强在重大国际和地区热点问题上的协调和配合。中俄作为联合国安理会常</string>
		<key>imageArr</key>
		<array/>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://ff.topitme.com/f/f9/b2/1118024055cfcb2f9fo.jpg</string>
		<key>name</key>
		<string>洛丹伦</string>
		<key>time</key>
		<string>1天前</string>
		<key>attention</key>
		<false/>
		<key>content</key>
		<string>普京表示，俄中两国元首保持经</string>
		<key>imageArr</key>
		<array>
			<string>http://f10.topitme.com/l/200912/15/12608909639595.jpg</string>
		</array>
	</dict>
</array>
</plist>
